body{
    margin: 0;
    background-color:#F6EDED;
    color: #000;
    font-family: Roboto;
    overflow-x: hidden;
    
}
p
{
    margin: 0;
}
.bodypic
{
    display: block;
   
    width: 1366px;
    height: 550px;
    
}
.bodypic img {
    width: 100%;
    height: 100%;
}

.section2{
    margin-top: 30px;
    display: block;
    margin-left: 50px;
}

.p1{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px;
}
.p2{

    font-size: 24px;
    font-weight: 400;
}